@page "/"
@rendermode InteractiveServer
@attribute [StreamRendering]

<h1>
    Sistema de inventario platzi
</h1>
<div class="container-fuild">
     <p class="float-right"> 
        <span class="oi oi-target" style="font-size"> 
        </span>
     </p>
     <p class="h4">
         Bienvenido a tu sistema de inventario
     </p>
</div>
